{% load static %}

<nav
    id="sidebarMenu"
    class="collapse d-lg-block sidebar collapse bg-white"
    >
   <div class="position-sticky">
     <div class="list-group list-group-flush mx-3 mt-4">
       <a
          href="{% url 'index' %}"
          class="list-group-item list-group-item-action py-2 ripple active"
          aria-current="true"
          >
         <i class="bi bi-houses me-3"></i
           ><span>Página Inicial</span>
       </a>
       <a
          href="{% url 'lista-workspace' %}"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-view-list me-3"></i><span>Lista Workspaces</span></a
         >
       <a
          href="{% url 'user-grupo-update' %}"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-person-workspace me-3"></i
         ><span>Acesso Workspaces</span></a
         >
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          >
         <i class="fas fa-chart-pie fa-fw me-3"></i><span>XXXXX</span>
       </a>
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>XXXXX</span></a
         >
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-globe fa-fw me-3"></i
         ><span>XXXXX</span></a
         >
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-eye-fill me-3"></i
         ><span>Permissões</span></a
         >
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-activity me-3"></i
         ><span>Atividade relatórios</span></a
         >
       <a
          href="{% url 'lista-user' %}"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-people-fill me-3"></i><span>Usuários</span></a
         >
       <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple"
          ><i class="bi bi-database-fill-dash me-3"></i><span>Relatórios</span></a
         >
     </div>
   </div>
 </nav>
 <!-- Sidebar -->

 <!-- Navbar -->
 <nav
      id="main-navbar"
      class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
      >
   <!-- Container wrapper -->
   <div class="container-fluid">
     <!-- Toggle button -->
     <button
             class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#sidebarMenu"
             aria-controls="sidebarMenu"
             aria-expanded="false"
             aria-label="Toggle navigation"
             >
       <i class="fas fa-bars"></i>
     </button>

     <!-- Brand -->
     <a class="navbar-brand" href="{% url 'index' %}">
       <span class="fs-5 fw-semibold me-5"> REST Api PowerBI </span>
        <!--<img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
            height="25"
            alt=""
            loading="lazy"
            />-->
     </a>
     <!-- Search form -->
     <form class="d-none d-md-flex input-group w-auto my-auto">
       <input
              autocomplete="off"
              type="search"
              class="form-control rounded"
              placeholder='Pesquisar'
              style="min-width: 225px"
              />
       <span class="input-group-text border-0"
             ><i class="bi bi-search"></i
         ></span>
     </form>

     <!-- Right links -->
     <ul class="navbar-nav ms-auto d-flex flex-row">

       <!-- Avatar -->
         <div class="btn-group">
           <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img
                src="https://robohash.org/api_powerbi"
                class="rounded-circle"
                height="22"
                alt=""
                loading="lazy"/>
           </a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <li><a class="dropdown-item" href="#">Perfil</a></li>
             <li><a class="dropdown-item" href="#">Configurações</a></li>
             <li><a class="dropdown-item" href="#">Sair</a></li>
           </ul>
         </div>
     </ul>
   </div>
   <!-- Container wrapper -->
 </nav>
