{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row container-fluid">
    <div class="col justify-content-center">
        {% include 'mensagens.html' %}
        <h3 class="h3 mt-2">Workspaces - Atualizar Grupo do Usuário </h3>
        <div class="d-flex justify-content-between mb-5 align-items-center">
            <form action="{% url 'user-grupo-update' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary d-flex align-items-center" title="POST" type="submit">Atualizar</button>
            </form>
        </div>
    </div>
</div>
   <!--  <ul>
        {% for item in relatorios %}
            <li>{{ item.name }} - <a href="{{ item.webUrl }}" target="_blank">Abrir</a></li>
        {% endfor %}
    </ul> -->

{% endblock %}
